@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

#title {
    position: relative;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

title:after
{
    content:' ';
    display:block;
    border:2px solid black;
    border-bottom: 2px solid black;
}

